NODE-RED_FLOW_HEMLATA.json
[{"id":"8fe092f5.31a84","type":"tab","label":"life expectancy","disabled":false,"info":""},{"id":"8a10f11e.52f6f","type":"ui_form","z":"8fe092f5.31a84","name":"","label":"","group":"e0952dba.e2f94","order":1,"width":0,"height":0,"options":[{"label":"Eneter Country Name","value":"country","type":"text","required":true,"rows":null},{"label":"Enter Year(e.g.2020)","value":"year","type":"number","required":true,"rows":null},{"label":"Enetr Status(e.g Devloping or Devloped)","value":"sts","type":"text","required":true,"rows":null},{"label":"Enter Adult Mortality","value":"AM","type":"number","required":true,"rows":null},{"label":"Enetr infant deaths","value":"ID","type":"number","required":true,"rows":null},{"label":"Enter Alcohol intake","value":"alcohol","type":"number","required":true,"rows":null},{"label":"Enter percentage expenditure\t","value":"PE","type":"number","required":true,"rows":null},{"label":"Enetr Hepatitis B","value":"HB","type":"number","required":true,"rows":null},{"label":"Enter Measles","value":"measles","type":"number","required":true,"rows":null},{"label":"Enter BMI","value":"bmi","type":"number","required":true,"rows":null},{"label":"Enetr under-five deaths","value":"ufive","type":"number","required":true,"rows":null},{"label":"Enetr Polio","value":"polio","type":"number","required":true,"rows":null},{"label":"Enetr Total expenditure","value":"TE","type":"number","required":true,"rows":null},{"label":"Enter Diphtheria","value":"dip","type":"number","required":true,"rows":null},{"label":"Enetr  HIV/AIDS","value":"hivaids","type":"number","required":true,"rows":null},{"label":"Enter GDP","value":"gdp","type":"number","required":true,"rows":null},{"label":"Enter Population","value":"pop","type":"number","required":true,"rows":null},{"label":"Enter thinness  1-19 years","value":"TONY","type":"number","required":true,"rows":null},{"label":"Enter thinness 5-9 years","value":"TFNY","type":"number","required":true,"rows":null},{"label":"Enter Income composition of resources","value":"COR","type":"number","required":true,"rows":null},{"label":"Enetr Schooling","value":"schooling","type":"number","required":true,"rows":null}],"formValue":{"country":"","year":"","sts":"","AM":"","ID":"","alcohol":"","PE":"","HB":"","measles":"","bmi":"","ufive":"","polio":"","TE":"","dip":"","hivaids":"","gdp":"","pop":"","TONY":"","TFNY":"","COR":"","schooling":""},"payload":"","submit":"PREDICT","cancel":"RESET","topic":"","x":35,"y":80,"wires":[["763e9631.13dba8"]],"l":false},{"id":"763e9631.13dba8","type":"function","z":"8fe092f5.31a84","name":"","func":"global.set(\"country\",msg.payload.country);\nglobal.set(\"year\",msg.payload.year);\nglobal.set(\"sts\",msg.payload.sts);\nglobal.set(\"AM\",msg.payload.AM);\nglobal.set(\"ID\",msg.payload.ID);\nglobal.set(\"alcohol\",msg.payload.alcohol);\nglobal.set(\"PE\",msg.payload.PE);\nglobal.set(\"HB\",msg.payload.HB);\nglobal.set(\"measles\",msg.payload.measles);\nglobal.set(\"bmi\",msg.payload.bmi);\nglobal.set(\"ufive\",msg.payload.ufive);\nglobal.set(\"polio\",msg.payload.polio);\nglobal.set(\"TE\",msg.payload.TE);\nglobal.set(\"dip\",msg.payload.dip);\nglobal.set(\"hivaids\",msg.payload.hivaids);\nglobal.set(\"gdp\",msg.payload.gdp);\nglobal.set(\"pop\",msg.payload.pop);\nglobal.set(\"TONY\",msg.payload.TONY);\nglobal.set(\"TFNY\",msg.payload.TFNY);\nglobal.set(\"ICOR\",msg.payload.ICOR);\nglobal.set(\"schooling\",msg.payload.schooling);\n\nvar apikey=\"4NN1QZO2etIBG5CCGjD1DShmBkae-Bjg0iGrxOP9IZVl\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;","outputs":1,"noerr":0,"x":115,"y":140,"wires":[["9fd80cc8.4c53b"]],"l":false},{"id":"9fd80cc8.4c53b","type":"http request","z":"8fe092f5.31a84","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":195,"y":140,"wires":[["2a827f87.9ea0c"]],"l":false},{"id":"2a827f87.9ea0c","type":"function","z":"8fe092f5.31a84","name":"","func":"var country=global.get(\"country\");\nvar year=global.get(\"year\");\nvar sts=global.get(\"sts\");\nvar AM=global.get(\"AM\");\nvar ID=global.get(\"ID\");\nvar alcohol=global.get(\"alcohol\");\nvar PE=global.get(\"PE\");\nvar HB=global.get(\"HB\");\nvar measles=global.get(\"measles\");\nvar bmi=global.get(\"bmi\");\nvar ufive=global.get(\"ufive\");\nvar polio=global.get(\"polio\");\nvar TE=global.get(\"TE\");\nvar dip=global.get(\"dip\");\nvar hivaids=global.get(\"hivaids\");\nvar gdp=global.get(\"gdp\");\nvar pop=global.get(\"pop\");\nvar TONY=global.get(\"TONY\");\nvar TFNY=global.get(\"TFNY\");\nvar ICOR=global.get(\"ICOR\");\nvar schooling=global.get(\"schooling\");\nvar token=msg.payload.access_token;\nvar instance_id=\"a67db32d-b56c-40d7-84e1-4776a4f6e599\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\nmsg.payload = {\"input_data\": [{\"fields\": [\"Country\", \"Year\", \"Status\", \"Adult Mortality\", \"infant deaths\", \"Alcohol\", \"percentage expenditure\", \"Hepatitis B\", \"Measles \", \" BMI \", \"under-five deaths \", \"Polio\", \"Total expenditure\", \"Diphtheria \", \" HIV/AIDS\", \"GDP\", \"Population\", \" thinness  1-19 years\", \" thinness 5-9 years\", \"Income composition of resources\", \"Schooling\"], \"values\": [[country,year,sts,AM,ID,alcohol,PE,HB,measles,bmi,ufive,polio,TE,dip,hivaids,gdp,pop,TONY,TFNY,ICOR,schooling]]}]};\nreturn msg;","outputs":1,"noerr":0,"x":275,"y":140,"wires":[["4ed99bf7.b88a84"]],"l":false},{"id":"4ed99bf7.b88a84","type":"http request","z":"8fe092f5.31a84","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/3ec7a8bb-0279-4632-ac39-c0acf2c51db9/predictions","tls":"","persist":false,"proxy":"","authType":"","x":355,"y":140,"wires":[["ada605db.fdbb68","d4ded561.352778"]],"l":false},{"id":"d4ded561.352778","type":"function","z":"8fe092f5.31a84","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":415,"y":100,"wires":[["94ad401d.bfda3","548330db.bc503"]],"l":false},{"id":"94ad401d.bfda3","type":"debug","z":"8fe092f5.31a84","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":495,"y":140,"wires":[],"l":false},{"id":"ada605db.fdbb68","type":"debug","z":"8fe092f5.31a84","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":415,"y":200,"wires":[],"l":false},{"id":"548330db.bc503","type":"ui_text","z":"8fe092f5.31a84","group":"e0952dba.e2f94","order":2,"width":0,"height":0,"name":"","label":"Life expectancy : ","format":"{{msg.payload}}","layout":"row-spread","x":495,"y":40,"wires":[],"l":false},{"id":"7d4a1db.803e1e4","type":"inject","z":"8fe092f5.31a84","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":60,"y":240,"wires":[["763e9631.13dba8"]]},{"id":"e0952dba.e2f94","type":"ui_group","z":"","name":"INPUT FORM","tab":"e46b5d16.59405","order":1,"disp":true,"width":"6","collapse":false},{"id":"e46b5d16.59405","type":"ui_tab","z":"","name":"MENU","icon":"dashboard","disabled":false,"hidden":false}]